<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WeatherBrowser.Properties.Settings>
            <setting name="l" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="m" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="n" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="max_min_temp" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="max_max_temp" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="min_min_temp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="min_max_temp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="max_wet" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="min_wet" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="max_rain" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="min_rain" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="max_wind" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="min_wind" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="max_wash" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="max_ul_vio" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="max_umb" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="max_star" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="min_wash" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="min_ul_vio" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="min_umb" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="min_star" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="bool_max_min_temp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_max_max_temp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bool_min_min_temp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bool_min_max_temp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_max_wet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bool_min_wet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_max_rain" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bool_min_rain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_max_wind" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bool_min_wind" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_max_wash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bool_min_wash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_max_ult_vio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bool_min_ult_vio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_max_umb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bool_min_umb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_max_star" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bool_min_star" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="color_max_min_temp" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="color_max_max_temp" serializeAs="String">
                <value>MistyRose</value>
            </setting>
            <setting name="color_min_min_temp" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="color_min_max_temp" serializeAs="String">
                <value>MistyRose</value>
            </setting>
            <setting name="color_max_wet" serializeAs="String">
                <value>MistyRose</value>
            </setting>
            <setting name="color_min_wet" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="color_max_rain" serializeAs="String">
                <value>MistyRose</value>
            </setting>
            <setting name="color_min_rain" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="color_max_wind" serializeAs="String">
                <value>MistyRose</value>
            </setting>
            <setting name="color_min_wind" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="color_max_wash" serializeAs="String">
                <value>MistyRose</value>
            </setting>
            <setting name="color_min_wash" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="color_max_ul_vio" serializeAs="String">
                <value>MistyRose</value>
            </setting>
            <setting name="color_min_ul_vio" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="color_max_umb" serializeAs="String">
                <value>MistyRose</value>
            </setting>
            <setting name="color_min_umb" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="color_max_star" serializeAs="String">
                <value>MistyRose</value>
            </setting>
            <setting name="color_min_star" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="MyLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="back_url_smallregion" serializeAs="String">
                <value />
            </setting>
            <setting name="back_name" serializeAs="String">
                <value />
            </setting>
            <setting name="back_l" serializeAs="String">
                <value />
            </setting>
            <setting name="back_m" serializeAs="String">
                <value />
            </setting>
            <setting name="back_n" serializeAs="String">
                <value />
            </setting>
            <setting name="back_l_name" serializeAs="String">
                <value />
            </setting>
            <setting name="back_m_name" serializeAs="String">
                <value />
            </setting>
            <setting name="back_n_name" serializeAs="String">
                <value />
            </setting>
            <setting name="back_url_warn" serializeAs="String">
                <value />
            </setting>
        </WeatherBrowser.Properties.Settings>
        <WindowsFormsApplication1.Properties.Settings>
            <setting name="l" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="m" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="n" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="max_min_temp" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="max_max_temp" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="min_min_temp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="min_max_temp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="max_wet" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="min_wet" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="max_rain" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="min_rain" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="max_wind" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="min_wind" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="max_wash" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="max_ul_vio" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="max_umb" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="max_star" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="min_wash" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="min_ul_vio" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="min_umb" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="min_star" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="bool_max_min_temp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_max_max_temp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bool_min_min_temp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bool_min_max_temp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_max_wet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bool_min_wet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_max_rain" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bool_min_rain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_max_wind" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bool_min_wind" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_max_wash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bool_min_wash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_max_ult_vio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bool_min_ult_vio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_max_umb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bool_min_umb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_max_star" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bool_min_star" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="color_max_min_temp" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="color_max_max_temp" serializeAs="String">
                <value>MistyRose</value>
            </setting>
            <setting name="color_min_min_temp" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="color_min_max_temp" serializeAs="String">
                <value>MistyRose</value>
            </setting>
            <setting name="color_max_wet" serializeAs="String">
                <value>MistyRose</value>
            </setting>
            <setting name="color_min_wet" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="color_max_rain" serializeAs="String">
                <value>MistyRose</value>
            </setting>
            <setting name="color_min_rain" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="color_max_wind" serializeAs="String">
                <value>MistyRose</value>
            </setting>
            <setting name="color_min_wind" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="color_max_wash" serializeAs="String">
                <value>MistyRose</value>
            </setting>
            <setting name="color_min_wash" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="color_max_ul_vio" serializeAs="String">
                <value>MistyRose</value>
            </setting>
            <setting name="color_min_ul_vio" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="color_max_umb" serializeAs="String">
                <value>MistyRose</value>
            </setting>
            <setting name="color_min_umb" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="color_max_star" serializeAs="String">
                <value>MistyRose</value>
            </setting>
            <setting name="color_min_star" serializeAs="String">
                <value>LightCyan</value>
            </setting>
        </WindowsFormsApplication1.Properties.Settings>
    </userSettings>
</configuration>